*
analysis
analysis/*
.test/results/*

### R Programming language ###
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

### Java ###
# Compiled class file
*.class

__pycache__/
*.py[cod]

!analysis/README.md
!config
!config/*
!resources
!resources/*
!workflow
!workflow/*
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!.test/data/*
!.test/config/*
!LICENSE
!README.md
!start.sh

# Examples output:
!.test/results/noderad/graph/A.pdf
!.test/results/noderad/graph/A.xml.gz
!.test/results/noderad/connected_components/A.all_components.pdf
!.test/results/noderad/connected_components/A.all_components.xml.gz
!.test/results/noderad/connected_components/subgraphes/A/A-127.subgraph.pdf
!.test/results/noderad/connected_components/subgraphes/A/A-127.subgraph.xml.gz
!.test/results/noderad/connected_components/subgraphes/A/A-625.subgraph.pdf
!.test/results/noderad/connected_components/subgraphes/A/A-625.subgraph.xml.gz
!.test/results/noderad/connected_components/subgraphes/A/A-1495.subgraph.pdf
!.test/results/noderad/connected_components/subgraphes/A/A-1495.subgraph.xml.gz
!.test/results/noderad/connected_components/subgraphes/A/A-2029.subgraph.pdf
!.test/results/noderad/connected_components/subgraphes/A/A-2029.subgraph.xml.gz
!.test/results/noderad/connected_components/subgraphes/A/A-5063.subgraph.pdf
!.test/results/noderad/connected_components/subgraphes/A/A-5063.subgraph.xml.gz
!.test/results/noderad/connected_components/subgraphes/A/A-5412.subgraph.pdf
!.test/results/noderad/connected_components/subgraphes/A/A-5412.subgraph.xml.gz
!.test/results/noderad/connected_components/subgraphes/A/A-5532.subgraph.pdf
!.test/results/noderad/connected_components/subgraphes/A/A-5532.subgraph.xml.gz
!.test/results/noderad/connected_components/subgraphes/A/A-5603.subgraph.pdf
!.test/results/noderad/connected_components/subgraphes/A/A-5603.subgraph.xml.gz
!.test/results/noderad/representatives/*
